//此文件变量已使用sass-resources-loader全局引入
$primary: #00c587;
$danger: #f56c6c;
$link: #00abff;
$disabled:#c0c4cc; //#aaa
$borderColor:#ebeef5;
$inputBorderColor:#dcdfe6;
$gold:#ff6700;
.a{
    color:$gold;
}